<% provide(:title, 'About Us') %>
<h1>About cTasks</h1>
<p> <%= link_to "cTasks", root_path %> is the ultimate light-weight Task List. It is simple, quick, and incredibly user-friendly. <%= link_to "cTasks", root_path %> was designed, developed, and maintained by <%= link_to "Chris Morgan", "http://chrism.biz"%>. It is written entirely in Ruby on Rails using RESTful architecture and OOP techniques. For more details, just <%= link_to "Sign Up", signup_path %> and find out for yourself! </p>
