<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>Find this page at 'app/views/static_pages/contact.html.erb'.</p>
<p>Contact Ruby on Rails Tutorial about the sample app at the <a href="http://railstutorial.org/contact">contact page</a>.</p>
